version: '26.0.0'

services:
  django:
    image: django-docker:1.10.4
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db


  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: JordiSnake
      POSTGRES_DB: book_giveaway_service_database
      ports: "5432:5432"
